
<!DOCTYPE html>
<html>
  <head>
    <title>ParisJS livecoding</title>
    
    <link href="css/bootstrap.css" rel="stylesheet">

    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    
    <script src="models.js"></script>
    <script src="views.js"></script>
    <script src="router.js"></script>


    <script src="js/face.js"></script>

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">PoniesJS</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li><a href="#kitlers">KitlerDB</a></li>
              <li><a href="https://github.com/sylvinus/backbone-simpleapp-kitlers">GitHub</a></li>
              <li><a href="http://parisjs.org/#meetup-18">ParisJS#18</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="pagecnt container" style="">

      <div class="page" id="page_home">
        Welcome!
      </div>

      <ul class="page" id="page_list">

      </ul>

    </div>


  <script type="text/template" id="kitemplate">
    <li class='thumbnail span3'>
      <img src='<%= m.get("url") %>'/>
      <div class='caption'><%= m.get("name") %></div>
      <button class="btn detect">Detect</button>
    </li>
  </script>




  </body>
</html>
